.REGISTER__ {
  height: 100vh;
  background-color: rgba(0 0 0 / 1);
  display: flex;
  align-items: center;
  justify-content: center;

  .REGISTER__card {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    // border-radius: 10px;
    min-height: 600px;
    overflow: hidden;

    .REGISTER__left {
      flex: 1;
      background: linear-gradient(rgba(0 0 0 / 0), rgba(0 0 0 / 1)), url("https://images.pexels.com/photos/4881619/pexels-photo-4881619.jpeg?auto=compress&cs=tinysrgb&w=1600") center;
      background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: white;

      h1 {
        font-size: 100px;
        line-height: 100px;
      }

      p {
      }

      span {
        font-size: 14px;
      }

      button {
        width: 50%;
        color: blue;
        font-weight: bold;
        background-color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
      }
    }

    .REGISTER__right {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;

      h1 {
        color: #555;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 30px;

        input {
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 20px 10px;
        }

        button {
          width: 50%;
          padding: 10px;
          border: none;
          background-color: #938eef;
          color: white;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }
}

.select-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  label {
    display: flex;
    flex-direction: column;
    margin-block: 0 !important;
  }
}

.css-j204z7-MuiFormControlLabel-root {
  margin-block: 0 !important;
}
