@import "../../style.scss";

@mixin UPDATE__ {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

@mixin UPDATE__wrapper {
  margin: auto;
  width: 40%;
  height: 70%;
  background-color: themed("bg");
  padding: 50px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: 20px;
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
  position: relative;

  @include mobile {
    width: 100%;
    height: 100%;
  }
}

@mixin label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: gray;
  font-size: 14px;
}

@mixin UPDATE__icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 30px;
  color: lightgray;
  cursor: pointer;
}

@mixin input {
  padding: 5px;
  border: none;
  border-bottom: 1px solid themed("border");
  color: gray;
  background-color: transparent;
}

@mixin button {
  border: none;
  padding: 10px;
  cursor: pointer;
  color: white;
  background-color: #5271ff;
}

@mixin UPDATE__close {
  position: absolute;
  top: 10px;
  right: 20px;
  border: none;
  background-color: #f0544f;
  padding: 5px;
  cursor: pointer;
  color: white;
}
