@import "../../style.scss";
@import "./mixins";

.UPDATE__ {
  @include themify($themes) {
    @include UPDATE__;

    .UPDATE__wrapper {
      @include UPDATE__wrapper;

      h1 {
        color: lightgrey;

        @include mobile {
          font-size: 20px;
        }
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .UPDATE__files {
          display: flex;
          flex-wrap: wrap;
          gap: 50px;
        }

        label {
          @include label;

          .UPDATE__imgContainer {
            position: relative;

            img {
              width: 100px;
              height: 100px;
              object-fit: cover;
            }

            .UPDATE__icon {
              @include UPDATE__icon;
            }
          }
        }

        input {
          @include input;
        }

        button {
          @include button;
        }
      }

      .UPDATE__close {
        @include UPDATE__close;
      }
    }
  }
}
