@mixin RIGHT_BAR__ {
  flex: 3;
  position: sticky;
  top: 70px;
  height: calc(100vh - 70px);
  overflow: scroll;
  background-color: themed("bgSoft");

  @include mobile {
    display: none;
  }
  @include tablet {
    display: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin RIGHT_BAR__item {
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
  padding: 20px;
  margin-bottom: 20px;
  background-color: themed("bg");
}

@mixin RIGHT_BAR__user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
}

@mixin RIGHT_BAR__userInfo {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}

@mixin RIGHT_BAR__userInfo_img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

@mixin RIGHT_BAR__online {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: limegreen;
  position: absolute;
  top: 0;
  left: 30px;
}
