@import "../../style.scss";
@import "./mixins";

.RIGHT_BAR__ {
  @include themify($themes) {
    @include RIGHT_BAR__;

    .RIGHT_BAR__container {
      padding: 20px;

      .RIGHT_BAR__item {
        @include RIGHT_BAR__item;

        span {
          color: gray;
        }

        .RIGHT_BAR__user {
          @include RIGHT_BAR__user;

          .RIGHT_BAR__userInfo {
            @include RIGHT_BAR__userInfo;

            img {
              @include RIGHT_BAR__userInfo_img;
            }

            .RIGHT_BAR__online {
              @include RIGHT_BAR__online;
            }

            p {
              color: themed("textColorSoft");
            }

            span {
              font-weight: 500;
              color: themed("textColor");
            }
          }

          .RIGHT_BAR__buttons {
            display: flex;
            align-items: center;
            gap: 10px;

            button {
              border: none;
              padding: 5px;
              color: white;
              cursor: pointer;

              &:first-child {
                background-color: #5271ff;
              }

              &:last-child {
                background-color: #f0544f;
              }
            }
          }
        }
      }
    }
  }
}
