@import "../../style.scss";

@mixin SHARE__ {
  -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  border-radius: 20px;
  background-color: themed("bg");
  color: themed("textColor");
  margin-bottom: 20px;
  box-shadow: 0 0 2px themed("textcolor");
}

@mixin SHARE__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@mixin SHARE__left_textarea {
  width: 100%;
  min-height: 5em;
  max-height: 3em;
  height: 100%;
  border: none;
  border-radius: 12px;
  background-color: transparent;
  color: themed("textColor");
  font-family: sans-serif;
  font-size: 1.3em;
  resize: none !important;
  padding: 0.5em;
  outline: 1px solid themed('border');

  &:focus {
    outline: 2px solid #1976d2;
  }

  /* Customize the scrollbar track */
  &::-webkit-scrollbar {
    width: 8px;
    height: 3em !important;
    overflow: hidden !important;
  }

  &::-webkit-scrollbar-track {
    background-color: black;
    border-radius: 10em;
    overflow: hidden !important;
    margin-block: 0.5em !important;
    cursor: pointer !important;
  }
}

@mixin SHARE__right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

@mixin SHARE_right_file-preview {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #666;
  border-radius: 1em;
  padding: 0.75em;
  margin-top: 1em;
}

// from bottom up

@mixin SHARE__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin SHARE__left {
  display: flex;
  align-items: center;
  gap: 20px;
}

@mixin SHARE__item {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

@mixin SHARE__right_button {
  border: none;
  padding: 5px;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}
