@import "../../style.scss";
@import "./mixins";

.SHARE__ {
  @include themify($themes) {
    @include SHARE__;

    .SHARE__container {
      padding: 20px;

      .SHARE__top {
        @include SHARE__top;

        .SHARE__left {
          display: flex;
          align-items: center;
          width: 100%;

          img,
          svg {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
          }

          textarea {
            @include SHARE__left_textarea;
          }
        }

        .SHARE__right {
          flex: 1;
          display: flex;
          justify-content: flex-end;

          .SHARE_right_file-preview {
            @include SHARE_right_file-preview;

            .SHARE__file {
              width: 100%;

              img {
                height: 160px;
                object-fit: contain;
                border-radius: 0px;
              }
            }

            hr {
              margin-block: 0.5em;
            }
          }
        }
      }

      hr {
        margin: 20px 0px;
        border: none;
        height: 0.5px;
        background-color: themed("border");
      }

      .SHARE__bottom {
        @include SHARE__bottom;

        .SHARE__left {
          @include SHARE__left;

          .SHARE__item {
            @include SHARE__item;

            img {
              height: 20px;
            }

            span {
              font-size: 12px;
              color: gray;
            }
          }
        }

        .SHARE__right {
          button {
            @include SHARE__right_button;
          }
        }
      }
    }
  }
}
