@import "../../style.scss";
@import "./mixins_.scss";

.LeftBar__ {
  @include themify($themes) {
    @include LeftBar__;

    .LeftBar__container {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 8px;

      hr {
        margin: 20px 0px;
        border: none;
        height: 0.5px;
        background-color: themed("border");
      }

      .LeftBar__menu {
        display: flex;
        flex-direction: column;
        gap: 20px;

        img {
          padding: 0.25em 0.5em;
        }

        span {
          font-size: 12px;
        }

        .LeftBar__user {
          margin-block: 0.5em;

          a {
            @include LeftBar__user_a;

            img,
            svg {
              width: 30px;
              height: 30px;
              border-radius: 50%;
              object-fit: cover;
            }

            svg {
              padding: 0.25em 0.5em;
            }

            span {
              font-size: 14px;
            }
          }
        }

        a {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 10px;
          text-decoration: none;
          color: inherit;
          filter: contrast(1.5);
          border-radius: 5px;
          transition: 250ms ease-in-out;

          .LEFT_BAR__item {
            @include LEFT_BAR__item;

            img {
              width: 30px;
              padding: 0.25em 0.5em;
            }

            span {
              @include LEFT_BAR__item_span;
            }
          }

          &:hover {
            outline: 1px solid gray;
            scale: 102%;
          }
        }
      }
    }
  }
}
