@import "../../style.scss";

.LEFT_BAR__ {
  @include themify($themes) {
    flex: 2;
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    overflow: scroll;
    background-color: themed("bg");
    color: themed("textColor");

    @include mobile {
      display: none;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .LEFT_BAR__container {
      padding: 8px;

      hr {
        margin: 20px 0px;
        border: none;
        height: 0.5px;
        background-color: themed("border");
      }

      .LEFT_BAR__menu {
        display: flex;
        flex-direction: column;
        gap: 20px;

        span {
          font-size: 12px;
        }

        .LEFT_BAR__user {
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 8px;

          a {
            display: flex;
            align-items: center;
            gap: 10px;
            text-decoration: none;
            color: inherit;

            img,
            svg {
              width: 30px;
              height: 30px;
              border-radius: 50%;
              object-fit: cover;
            }

            span {
              font-size: 14px;
            }
          }
        }

        a {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 10px;
          text-decoration: none;
          color: inherit;
          filter: contrast(1.5);
          border-radius: 5px;
          transition: 250ms ease-in-out;

          .LEFT_BAR__item {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 0.5em;

            img {
              width: 30px;
            }

            span {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
              font-size: 14px;
            }
          }

          &:hover {
            outline: 1px solid gray;
            scale: 102%;
          }
        }
      }
    }
  }
}
