@import "../../style.scss";

.NAVBAR__ {
  @include themify($themes) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;
    border-bottom: 1px solid themed("border");
    position: sticky;
    top: 0;
    background-color: themed("bg");
    color: themed("textColor");
    z-index: 999;

    .NAVBAR__left {
      display: flex;
      align-items: center;
      gap: 30px;

      span {
        font-weight: bold;
        font-size: 20px;
        color: themed("logo");
      }

      .NAVBAR__search {
        display: flex;
        align-items: center;
        height: 100%;
        gap: 10px;
        border: 1px solid themed("border");
        border-radius: 5px;

        svg {
          padding: 5px;
        }

        input {
          height: 2em;
          width: 500px;
          color: themed("textColor");
          background-color: transparent;
          border: none;
          outline: none;

          @include mobile {
            display: none;
          }

          @include tablet {
            width: 200px;
          }
        }
      }
    }

    .NAVBAR__right {
      display: flex;
      align-items: center;
      gap: 20px;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      @include mobile {
        display: none;
      }

      .NAVBAR__user {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;

        @include tablet {
          display: none;
        }

        img,
        svg {
          height: 30px;
          width: 30px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }
}
