// @import "../../style.scss";
@import "./mixins";

.Navbar__ {
  @include Navbar__;

  .Navbar__left {
    @include Navbar__left;

    span {
      @include Navbar__left_span;
    }

    .Navbar__search {
      @include Navbar__search;

      svg {
        padding-left: 0.5em;
      }

      input {
        @include Navbar__search_input;
      }
    }
  }

  .Navbar__right {
    @include Navbar__right;

    .item {
      @include item;

      svg {
        @include item_svg;
      }
    }
  }

  a {
    display: flex;
    height: auto;
    margin: 0;
  }

  .Navbar__user {
    img {
      @include Navbar__user_img;
    }
  }
}

@media (max-width: 400px) {
  .theme-dark {
    width: 100% !important;

    .navbar {
      width: 100% !important;

      .left {
        gap: 10px !important;
      }

      .home-svg {
        display: none;
        padding: 0;
        margin: 0;
      }
    }
  }
}
