// @import "../../style.scss";

.Navbar__ {
  position: sticky;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  height: 50px;
  z-index: 1000;

  .Navbar__left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 2.25em;

    span {
      font-weight: bold;
      font-size: 20px;
      color: themed("logo");
    }

    .Navbar__search {
      display: flex;
      align-items: center;
      border: 1px solid gray;
      border-radius: 5px;
      // padding: 5px;
      margin-left: 2.5em;

      svg {
        padding-left: 0.5em;
      }

      input {
        width: 400px;
        color: gray;
        font-size: 1em;
        line-height: 1;
        background-color: transparent;
        border: none;
        // border-top-left-radius: 0;
        border-radius: 0;
        padding: 0.5em 0.5em 0.25em 0.5em;
        margin: 0.5em;
      }
    }
  }

  .Navbar__right {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    gap: 0.5em;

    .item {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      svg {
        padding: 0.25em;
        border-radius: 10em;
        transition: 150ms ease-in-out;

        &:hover {
          background: #999;
          outline: 2px solid gray;
        }
      }
    }
  }

  a {
    display: flex;
    height: auto;
    margin: 0;
  }

  .Navbar__user {
    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}

@media (max-width: 400px) {
  .theme-dark {
    width: 100% !important;

    .navbar {
      width: 100% !important;

      .left {
        gap: 10px !important;
      }

      .home-svg {
        display: none;
        padding: 0;
        margin: 0;
      }
    }
  }
}
