// @import "../../style.scss";
@import "./mixins";

.Navbar__ {
  @include Navbar__;

  .Navbar__left {
    @include Navbar__left;

    span {
      @include Navbar__left_span;
    }

    .Navbar__search {
      @include Navbar__search;

      svg {
        padding-left: 0.5em;
      }

      input {
        @include Navbar__search_input;
      }
    }
  }

  .Navbar__right {
    @include Navbar__right;
  }

  a {
    display: flex;
    height: auto;
    margin: 0;
  }

  .Navbar__user {
    img {
      @include Navbar__user_img;
    }
  }
}

@media (max-width: 400px) {
  .theme-dark {
    width: 100% !important;

    .navbar {
      width: 100% !important;

      .left {
        gap: 10px !important;
      }

      .home-svg {
        display: none;
        padding: 0;
        margin: 0;
      }
    }
  }
}

.bg {
  position: sticky;
  top: 0;
  left: 0;
  height: 70px;
  z-index: 10000000;
}

.navbar-dark,
.bg-dark {
  background: black !important;
  color: rgba(255, 255, 255, 0.55) !important;

  &::placeholder {
    color: rgba(255, 255, 255, 0.55);
  }
}

.bg-light {
  background: white !important;
}

.navbar-nav {
  height: max-content !important;
  margin-block: 1em !important;
}

.item {
  @include item;

  svg {
    @include item_svg;
  }
}

.item-margin {
  margin-right: 1em;
  
  @media (max-width: 991px) {
    margin-right: 0 !important;
  }
}

.form-control {
  border-radius: 100em;
}

.me-2 {
  margin-right: 0 !important;
}
